@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container-main {
  padding-left: 3rem;
  padding-right: 3rem;
}

.calendar-container {
  width: 100% !important;
  background: transparent !important;
  border: none !important;
}

.calendar-container .react-calendar__navigation {
  color: white !important;
}

.react-calendar__navigation button:hover {
  background: transparent !important;
}

.calendar-container .react-calendar__month-view__weekdays__weekday {
  color: rgb(196, 196, 196);
  border: 0.374px solid #242424 !important;
}

.react-calendar__month-view__days__day {
  height: 92px !important;
  border: 0.374px solid #242424 !important;
}
